<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICloudDriveServer" />
                <binding name="WSHttpBinding_ICloudDriveServer1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/CloudDriveServerService/CalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICloudDriveServer"
                contract="ServiceReference1.ICloudDriveServer" name="WSHttpBinding_ICloudDriveServer">
                <identity>
                    <userPrincipalName value="DESKTOP-TQRD4NK\Rafal" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/CloudDriveServerService/CalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICloudDriveServer1"
                contract="CloudDriveServiceReference.ICloudDriveServer" name="WSHttpBinding_ICloudDriveServer1">
                <identity>
                    <userPrincipalName value="DESKTOP-TQRD4NK\Rafal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>